asyncio==4.0.0
pygame==2.6.1
pynput==1.8.2
pyobjc-core==12.2.2
pyobjc-framework-ApplicationServices==12.2.2
pyobjc-framework-Cocoa==12.2.2
pyobjc-framework-CoreText==12.2.2
pyobjc-framework-Quartz==12.2.2
pyserial==3.5
six==1.17.0
websockets==17.1
